<!DOCTYPE html>
<meta charset="utf-8">
<style>

body {
  font: 10px sans-serif;
}

p {
  font: 12px sans-serif;
  width: 800px;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

</style>
<body>
  <h1>Dolphin Socialization Graph</h1>
  <p>
    This chart shows the socialization associations between 62 dolphins in a community living off Doubtful Sound, New Zealand.
    The data for the chart is from the UC Irvine
    <a href="https://networkdata.ics.uci.edu/data.php?id=6" target="_blank">Network Data Repository</a>.
    I manually converted the data from GML to JSON to read into <a href="https://d3js.org/">d3.js</a>
  </p>
  <p>
    Each circle represents an individual dolphin.  The radius is based on the number of interactions.  Hovering over the circle shows the dolphin's name
  </p>

<script>

var width = 900,
    height = 900;

var color = d3.scale.category20();

var force = d3.layout.force()
    .charge(-500)
    .linkDistance(40)
    .size([width, height]);

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

d3.json("dolphins.json", function(error, graph) {
  if (error) throw error;

  force
      .nodes(graph.nodes)
      .links(graph.links)
      .start();

  var link = svg.selectAll(".link")
      .data(graph.links)
    .enter().append("line")
      .attr("class", "link")

  var node = svg.selectAll(".node")
      .data(graph.nodes)
    .enter().append("circle")
      .attr("class", "node")
      .attr("r", function(d) { return d.weight + 2; })
      .style("fill", function(d) { return color(0); })
      .call(force.drag);

  node.append("title")
      .text(function(d) { return d.name; });

  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
  });
});

</script>
